{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-redom-jsx",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "__tests__": "__tests__",
        "src": "src"
      }
    }]
  ]
}
